.projeto_container {
  padding: 2em;
}

.projeto_container h1,
h2,
p {
  margin-bottom: 0.5em;
}

.projeto_container h1 {
  background-color: #222;
  color: #ffbb33;
  padding: 0.5em;
}

.projeto_container span {
  font-weight: bold;
}

.projeto_detalhes,
.servicos_form_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  background-color: #222;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  max-height: 40px;
}

.btn:hover {
  color: #ffbb33;
}

.projeto_info {
  width: 100%;
}

.service_cards_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
